<div class="row">
    <div class="col-sm-8">
        <table class="table table-striped mt-3">
            <thead>
            <tr>
                <th>
                    Zdroj
                </th>
                <th>
                    Posledný deň zverejnených údajov
                </th>
                <th>
                    Čas poslednej aktualizácie údajov
                </th>
            </tr>
            </thead>
            <tbody>
            {% for row in stats %}
                <tr>
                    <td>
                        {{ row.source }}
                    </td>
                    <td>
                        {{ row.last_published_on }}
                    </td>
                    <td>
                        {{ row.last_updated_at }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>