{# templates/bundles/NelmioApiDocBundle/SwaggerUi/index.html.twig #}

{#
To avoid a "reached nested level" error an exclamation mark `!` has to be added
See https://symfony.com/blog/new-in-symfony-3-4-improved-the-overriding-of-templates
#}
{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock stylesheets %}

{% block swagger_data %}
    {% include '_partials/tracking.html.twig' %}
    {{ parent() }}
{% endblock swagger_data %}

{% block swagger_ui %}
    <div class="container">
        <div class="row">
            <div id="swagger-ui" class="api-platform"></div>
        </div>
    </div>
{% endblock %}

{% block header %}
    {% include '_partials/header.html.twig' %}
{% endblock %}