{% extends 'base.html.twig' %}
{% block title %}Vakcinácia{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>
                    Vakcinácia
                </h1>

                <div class="alert alert-warning" role="alert">
                    Upozornenie: K času 2021-02-13 11:50:03 aktualizácie údajov zo zdroja NCZI (Power BI) evidujeme logickú chybu v zdrojových dátach, keď <a href="{{ path('app_front_stats_vaccinations', {'section': 'by-vaccine'}) }}">celkový počet druhých dávok vakcíny AstraZeneca</a> je vyšší ako celkový počet prvých dávok danej vakcíny.
                </div>

                <ul class="nav nav-tabs">
                    {% for tab in tabs %}
                        <li class="nav-item">
                            <a class="nav-link{{ tab.is_active ? ' active' : '' }}" aria-current="page" href="{{ tab.url }}">{{ tab.title }}</a>
                        </li>
                    {% endfor %}
                </ul>

                {% include('Stats/_partial/' ~ ('' == template ? 'default' : template) ~ '.html.twig') %}

            </div>
        </div>
    </div>
{% endblock %}