{% import "Stats/_macro/field.html.twig" as macro %}

<table class="table table-striped table-hover table-sm mt-3">
    <thead>
    <tr>
        {% for headerCell in header %}
            <th>
                {{ headerCell }}
            </th>
        {% endfor %}
    </tr>
    </thead>
    {% for row in stats %}
        <tr>
            {% for key, headerCell in header %}
                <td>
                    {{ row[key] }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>